.BigButton {
    background-color: black;
    width: 450px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.BigButton-text {
    color:#eee9f3;
    text-transform: uppercase;
    font-size: 45px;
}