.FilterButton {
    background-color: #0f131e;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.FilterButton-text {
    font-size: 13pt;
    text-transform: uppercase;
    color: #eee9f3;
    padding-top: 8px;
}