@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


.ProgramCloseup-title {
    color: #eee9f3;
    font-size: 15pt;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-left: 30px;
    margin-top: 20px;
}

.ProgramCloseup-name {
    padding-left: 15px;
}

.ProgramCloseup-box {
    background-color: #eee9f3;
    width: 460px;
    height: 430px;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 25px;
    font-family: 'Inconsolata', monospace;
    font-size: 12pt;
    color: #0f131e;
    padding: 40px 20px;
    overflow: scroll;
}