.ResultsPage{
    overflow: hidden;
    padding-bottom: 40px;
}

.results-title{
    font-size: 50pt;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 20px;
    align-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.ResultPage-container {
    margin-left: 25px;
}

.ResultsPage-nav {
    margin-top: 40px;
    margin-left: -15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}